<h1>Your Stats, <%= @user.fullname %></h1>

<div>
	<p>Your steps for today: <%= @user. %></p>
</div>

<div>
	<p>Your distance for today: <%=  %></p>
</div>


<div>
	<p>Your active time for today: <%=  %> </p>
</div>