<div id="main">
  <div id="content-1">
    <h1><%= challenge.user.fullname %></h1>
    <%= image_tag('hero.png') %>
  </div>
  <div id="content-2">
    <div id="content-2-1">
      <h1>VS.</h1>
      <h1>Points</h1>
    </div>
    <div id="content-2-2">
      <h1><%= challenge.challenger.fullname %></h1>
      <%= image_tag('challenger.png') %>
    </div>
  </div>
</div>
