<ul>
  <li><%= link_to 'Stats Page', user_path(@user) %></li>
  <li><%= link_to 'New Challenge', new_user_challenge_path %></li>
</ul>

<h1>Challenges</h1>

<% @user.challenges.each do |challenge| %>
  <%= render partial: 'challenge', locals: {challenge: challenge} %>
<% end %>
