<h1>Challenges</h1>
<%= link_to 'Stats Page', user_path(@user) %><br>
<%= link_to 'New Challenge', new_user_challenge_path %>

<% @user.challenges.each do |challenge| %>
  <%= render partial: 'challenge', locals: {challenge: challenge} %>
<% end %>