

<div class='container_challenger'>
<ul class= 'challenges'>
  <li class='challenges2'><%= link_to 'Stats Page', user_path(@user) %></li>
  <li class='challenges2'><%= link_to 'New Challenge', new_user_challenge_path %></li>
</ul>

<h1 class='title'>Challenges</h1>

<% @user.challenges.each do |challenge| %>
  <%= render partial: 'challenge', locals: {challenge: challenge} %>
<% end %>

<% if @challenged_list.any? %>
	<% @challenged_list.each do |challenge| %>
	  <%= render partial: 'challenge', locals: {challenge: challenge} %>
	<% end %>
<% end %>
</div>
