.container {
  padding: 30px;
  margin: 0 auto;
}
#main {
  margin: 0 auto;
  max-width: 600px; 
}
#content-1 {
  width: 33%;
  float: left;
  text-align: center;
}
#content-2 {
  width: 67%;
  float: right;
}
#content-2-1 {
  width: 50%;
  float: left;
  text-align: center;
}
#content-2-1 h1 {
  padding-top: 75px; 
}

#content-2-2 {
  width: 50%;
  float: right;
  text-align: center;
}
